data/Lenders XML/pepper_loans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Root Element -->
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <!-- Field_type Element -->
                <xs:element name="Field_type">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FT_0" type="xs:string" />
                            <xs:element name="FT_1" type="xs:string" />
                            <xs:element name="FT_2" type="xs:string" />
                            <xs:element name="FT_3" type="xs:string" />
                            <xs:element name="FT_4" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Remarks Element -->
                <xs:element name="Remarks">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="R1" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Lenders Element -->
                <xs:element name="Lenders">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Flexi_up_to_20K Element -->
                            <xs:element name="Flexi_up_to_20K">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- Asset_Type Element -->
                                        <xs:element name="Asset_Type">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Flow_Exception_for_True"
                                                        minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:string" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Flow_Exception_for_False"
                                                        minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence> 
                                                                <xs:element name="Exception_rule"  minOccurs="0" maxOccurs="1">     
                                                                    <xs:complexType> 
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="Flow_Exception_for_True"
                                                                                minOccurs="0"
                                                                                maxOccurs="1">
                                                                                <xs:complexType>
                                                                                    <xs:attribute
                                                                                        name="Remark"
                                                                                        type="xs:string"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element
                                                                                name="Flow_Exception_for_False"
                                                                                minOccurs="0"
                                                                                maxOccurs="1">
                                                                                <xs:complexType>
                                                                                    <xs:attribute
                                                                                        name="Remark"
                                                                                        type="xs:string"
                                                                                        use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute
                                                                            name="Reference_field"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                        <xs:attribute
                                                                            name="Rule_Operator"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                        <xs:attribute
                                                                            name="Field_Type"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                        <xs:attribute
                                                                            name="Rule_Value"
                                                                            type="xs:string"
                                                                            use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute
                                                                name="Condition_to_proceed"
                                                                type="xs:string" use="required" />
                                                            <xs:attribute name="Remark"
                                                                type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Reference_field"
                                                    type="xs:string" use="required" />
                                                <xs:attribute name="Rule_Operator" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Field_Type" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Rule_Value" type="xs:string"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- ABN_Registration Element -->
                                        <xs:element name="ABN_Registration">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Flow_Exception_for_True">
                                                        <xs:complexType>
                                                            <xs:attribute
                                                                name="Condition_to_proceed"
                                                                type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Flow_Exception_for_False">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Reference_field" type="xs:string" use="required" />
                                                <xs:attribute name="Rule_Operator" type="xs:string" use="required" />
                                                <xs:attribute name="Rule_Value" type="xs:string" use="required" />
                                                <xs:attribute name="Field_Type" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- GST_Registration Element -->
                                        <xs:element name="GST_Registration">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Flow_Exception_for_True">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Flow_Exception_for_False">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Reference_field"
                                                    type="xs:string" use="required" />
                                                <xs:attribute name="Rule_Operator" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Rule_Value" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Field_Type" type="xs:string"
                                                    use="required" />
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- Loan_Amount Element -->
                                        <xs:element name="Loan_Amount">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Logical_Rule">
                                                        <xs:complexType>
                                                            <xs:attribute name="Reference_field" type="xs:string" use="required" />
                                                            <xs:attribute name="Rule_Operator" type="xs:string" use="required" />
                                                            <xs:attribute name="Rule_Value" type="xs:string" use="required" />
                                                            <xs:attribute name="Field_Type" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Flow_Exception_for_True">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Flow_Exception_for_False">
                                                        <xs:complexType>
                                                            <xs:attribute name="Condition_to_proceed" type="xs:boolean" use="required" />
                                                            <xs:attribute name="Remark" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="Reference_field"
                                                    type="xs:string" use="required" />
                                                <xs:attribute name="Rule_Operator" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Rule_Value" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="Field_Type" type="xs:string"
                                                    use="required" />
                                                <xs:attribute name="logical_operator"
                                                    type="xs:string" />
                                            </xs:complexType>
                                        </xs:element>

                                        <!-- Continue defining other elements like ABN_Registration,
                                        Loan_Amount, etc. -->
                                    </xs:sequence>

                                    <!-- Attributes for Flexi_up_to_20K -->
                                    <xs:attribute name="Some_Attribute" type="xs:string"
                                        use="optional" />
                                    <xs:attribute name="Another_Attribute" type="xs:string"
                                        use="optional" />

                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>